<html>
<head>
<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/jquery/dist/js/jquery.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="flickrapp">
<div ng-controller="maincontroller" >
  <div class="row">
    <span class="col-xs-1" style="text-align:right">Sort:</span>
    <a href="" class="col-xs-1" ng-click="sortAscending()">Ascending</a>
    <a href="" class="col-xs-1" ng-click="sortDescending()">Decending</a>
    <span class="col-xs-1" style="text-align:right">Search:</span>
    <input class="col-xs-3" type="text" ng-model="searchTitle" >
  </div>
<div ng-repeat="photo in photosList | orderBy:sortType:sortOrder | filter:searchTitle"  style="padding:5px" class="row">
<div class="col-xs-6 col-md-7" ><img   src="{{'https://farm' + photo.farm + '.staticflickr.com/' + photo.server + '/' + photo.id + '_' + photo.secret + '.jpg'}}" /></div>
<div class="col-xs-6 col-md-5">{{photo.title}}</div>
</div>
</div>
</body>
</html>
